[submodule "schedule-api"]
	path = schedule-api
	url = https://github.com/muriloalvesdev/luizalabs-desafio
[submodule "buy-manager"]
	path = buy-manager
	url = https://github.com/muriloalvesdev/buy-manager
[submodule "github-developers"]
	path = github-developers
	url = https://github.com/muriloalvesdev/github-developers
[submodule "challenge-portugal"]
	path = challenge-portugal
	url = https://github.com/muriloalvesdev/challenge-portugal.git
[submodule "challenge-meli"]
	path = challenge-meli
	url = https://github.com/muriloalvesdev/Simian.git
